@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap);


*,
html,
body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --Color-1: #fff;
  --Color-2: rgb(57, 242, 146);
  --Color-3: rgba(38, 38, 38, 0.687);
  --Color-4: rgba(129, 236, 181, 0.534);
  --Color-5: rgba(201, 201, 201, 0.575);
  --Color-6: rgba(201, 240, 220, 0.961);
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: var(--Color-5);

}